<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="robots" content="index, follow, all" />
        <title>FlorianWolters\Component\Core\DebugPrintTrait | FlorianWolters\Component\Core\DebugPrint API</title>
                    <link rel="stylesheet" type="text/css" href="../../../stylesheet.css">
                            </head>
        <body id="class">
            <div class="header">
        <ul>
            <li><a href="../../../classes.html">Classes</a></li>
                            <li><a href="../../../namespaces.html">Namespaces</a></li>
                        <li><a href="../../../interfaces.html">Interfaces</a></li>
            <li><a href="../../../traits.html">Traits</a></li>
            <li><a href="../../../doc-index.html">Index</a></li>
            
        </ul>

        <div id="title">FlorianWolters\Component\Core\DebugPrint API</div>

            <div class="type">Trait</div>
    <h1><a href="../../../FlorianWolters/Component/Core.html">FlorianWolters\Component\Core</a>\DebugPrintTrait</h1>
    </div>
        <div class="content">
                <p>    trait
    <strong>DebugPrintTrait</strong></p>

            <div class="description">
            <p>The trait {see DebugPrintTrait} provides a <em>Debug Print Method</em> for objects.</p>
            <p>Always implement the interface {see DebugPrintInterface} if using the trait
{see DebugPrintTrait}, since that allows {@link
https://php.net/language.oop5.typehinting Type Hinting}.</p>
        </div>
    
    
    
            <h2>Methods</h2>

            <table>
                    <tr>
                <td class="type">
                    string
                </td>
                <td class="last">
                    <a href="#method___toString">__toString</a>()
                    <p>Returns a string representation of the object.</p>
                </td>
                <td></td>
            </tr>
            </table>


        <h2>Details</h2>

                        <h3 id="method___toString">
        <div class="location">at line 54</div>
        <code>            public            string
    <strong>__toString</strong>()</code>
    </h3>
    <div class="details">
        <p>Returns a string representation of the object.</p>
        <p>In general, the {see __toString} method returns a string that "textually
represents" the object using the trait {see DebugPrintTrait}. The result
should be a concise but informative representation that is easy for a
person to read.</p>

<p>The {see __toString} method for trait {see DebugPrintTrait} returns a
string consisting of the name of the class of which the object is an
instance, the at-sign character <code>'@'</code>, and the unsigned hexadecimal
representation of the hash code of the object. In other words, this
method returns a string equal to the value of:
/---code php
\get_class($this) . '@' . $this->hashCode());
&#45;--</p>

<p>The method {see __toString} is intended to be used only for debugging
purposes, and the content and format of the returned string may vary
between implementations.</p>

<p>The method {see __toString} implements the <em>Debug Print Method</em>
implementation pattern.</p>
        <div class="tags">
            
                            <h4>Return Value</h4>

                    <table>
        <tr>
            <td>string</td>
            <td>The string representation.</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

    
            </div>
            <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/" target="_top">Sami, the API Documentation Generator</a>.
    </div>
    </body>
</html>
